@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background: var(--bak);
}


:root{

  --white: #ffffff;
  --bak_card: #221e31c5; 
  --black: #1c1c1c;
  --gray: #ececec;
  --bak: #181529; 

  --normal-tp: #A8A878;
  --fire-tp: #ff9d55;
  --water-tp: #5090d6;
  --grass-tp: #63bc5a;
  --bug-tp: #91c12f;
  --fairy-tp: #ec8fe6;
  --dragon-tp: #0b6dc3;
  --psychic-tp: #fa7179;
  --ghost-tp: #655bbb;
  --steel-tp: #5a8ea2; 
  --ground-tp: #d97845;
  --flying-tp: #89aae3;
  --ice-tp: #73cec0;
  --electric-tp: #f4d23c;
  --rock-tp: #c5b78c;
  --dark-tp: #5a5465;
  --fighting-tp: #ce416b;
  --poison-tp: #b567ce;
}